.git
.gitignore
.gitattributes
*.md
LICENSE.md
__pycache__
*.pyc
*.pyo
*.egg-info
.eggs
build/
dist/
.venv
venv/
env/
.env
.idea
.vscode
*.log
output/
demo/test_output/
weights/
tests/
htmlcov/
.pytest_cache/
.coverage
*.db
*.sqlite

# Sync missing rules from .gitignore
*.tar
*.tar.gz
*.zip
venv*/
envs/
slurm_logs/
sync1.sh
data_preprocess_pj1
data-preparation1
debug/
*.ipynb
*.egg
.history
.DS_Store
bad_words/
bak/
app/tests/*
temp/*
!temp/uv-env-requirements.txt
tmp/
tmp
ocr_demo
.coveragerc
/app/common/__init__.py
/magic_pdf/config/__init__.py
source.dev.env
projects/web/node_modules
projects/web/dist
projects/web_demo/web_demo/static/
cli_debug/
debug_utils/
_build/
